:root {
  --BGDefaultColor: #121213;
  --BGLighterColor: #1e1e21;
  --CustomDarkPurple: #5d2871;
  --CustomDarkerPurple: #411e4e;
  --CustomLightPurple: #b321e8;
  --CustomLighterPurple: #bb00ff;
  --DownloadText: #ff00de; /*#e800ff*/
  
  --BGLighterColor00: #1e1e2100;
  --BGLighterColor40: #1e1e2140;
  --CustomLighterPurple00: #bb00ff00;
  --CustomLighterPurple40: #bb00ff40;
}

[class*="appdetailsworkshopsection_WorkshopContainer_"] {
  background: none;
}

/* COLOR PALLETT */
[class*="appactivityday_PartnerEventTypeUpdate_"]
{
  color: var(--CustomLightPurple);
}

[class*="gamelistentry_AppIconDownloading_"] svg.gamelistentry_DownloadProgressSVG_f6-7- circle {
  stroke: var(--CustomLightPurple);
}

[class*="gamelistentry_Container_"] [class*="gamelistentry_GameListEntryContainer_"] [class*="gamelistentry_DownloadProgress_"],
[class*="gamelistentry_Container_"][class*="gamelistentry_Updating_"],
[class*="gamelistentry_Container_"][class*="gamelistentry_Selected_"][class*="gamelistentry_Updating_"],
[class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"][class*="gamelistentry_Updating_"]
{
  color: var(--DownloadText);
}

[class*="supernav_SuperNavMenu_"][class*="supernav_Selected_"]:not([class*="supernav_Disabled_"]) [class*="supernav_MenuButton_"] {
  color: var(--CustomLightPurple);
  text-shadow: 0px 0px 1px var(--CustomLightPurple);
}

[class*="supernav_SuperNavMenu_"][class*="supernav_Selected_"]:not([class*="supernav_Disabled_"]) [class*="supernav_MenuButton_"]::after
{
  background: var(--CustomLightPurple);
}

[class*="appactionbutton_Green_"] > [class*="appactionbutton_ButtonChild_"],
[class*="appactionbutton_Green_"] > [class*="appactionbutton_ButtonChild_"][class*="appactionbutton_StreamingSelector_"],
[class*="appactionbutton_ButtonChild_"],
[class*="appdetailsplaysection_DetailsProgressContainer_"] [class*="appdetailsplaysection_DetailsProgressBar_"],
[class*="downloads_SectionItem_"][class*="downloads_Active_"] [class*="downloads_Button_"].DialogButton:enabled,
.DesktopUI [class*="installrequest_FolderOption_"][class*="installrequest_Active_"],
button.DialogButton.Primary
{
  background: var(--CustomDarkPurple); 
}

:not([class*="appactionbutton_Disabled_"]) > [class*="appactionbutton_Green_"] > [class*="appactionbutton_ButtonChild_"]:hover,
:not([class*="appactionbutton_Disabled_"]) > [class*="appactionbutton_ButtonChild_"]:hover,
[class*="appactionbutton_ButtonChild_"][class*="appactionbutton_StreamingSelector_"],
:not([class*="appactionbutton_Disabled_"]) > .DesktopUI [class*="installrequest_FolderOption_"][class*="installrequest_Active_"]:hover,
:not([class*="appactionbutton_Disabled_"]) > button.DialogButton.Primary:hover,
[class*="downloads_SectionItem_"][class*="downloads_Active_"] [class*="downloads_Button_"].DialogButton:enabled:hover
{
  background: var(--CustomDarkerPurple);
}

/*.bottombar_ProgressBarWrapper_2_Fom .bottombar_ProgressBar_wi0pD*/
[class*="bottombar_ProgressBarWrapper_"] [class*="bottombar_ProgressBar_"] {
  --color-progress-bar-foreground: var(--CustomDarkPurple);
}

[class*="appdetailsplaysection_DetailsSection_"] [class*="appdetailsplaysection_DetailsProgressContainer_"] {
  border-top: 0px;
  border-left: 0px;
  border-style: solid;
}

[class*="steamdesktop_TopBar_"], 
[class*="bottombar_BottomBar_"],
[class*="appdetailssection_Highlight_"],
[class*="posttextentry_PostTextEntry_"] [class*="posttextentry_PostTextEntryArea_"],
[class*="appactivityday_Event_"] [class*="appactivityday_EventBody_"],
[class*="appdetailscommunityfeed_Guide_"] [class*="appdetailscommunityfeed_TopSectionInner_"],
[class*="appdetailscommunityfeed_ArtItem_"] [class*="appdetailscommunityfeed_BottomSection_"],
[class*="steamdesktop_LocalContentContainer_"] [class*="steamdesktop_URLBarReplacement_"],
[class*="appdetailssection_AppDetailsSectionContainer_"][class*="appdetailssection_RightColumnSection_"],
[class*="menu_MenuPopup_"],
[class*="appactivityday_Event_"] [class*="appactivityday_PartnerEventFeaturedHeader_"],
[class*="appactivityday_Event_"][class*="appactivityday_PartnerEventFeatured_"],
[class*="appactivityday_PartnerEvent_"],
[class*="appactivityday_PartnerEventMediumImage_Container_"],
[class*="appdetailscommunityfeed_HeaderStyles_"],
[class*="appactivityday_PartnerEventLargeUpdate_"],
[class*="allcollections_Collection_"]
{
  background: var(--BGDefaultColor) !important;
}

[class*="appdetailsachievementssection_AdditionalItem_"],
[class*="appdetailsplaysection_StickyHeader_"] [class*="appdetailsplaysection_Glassy_"]
{
  background-color: var(--BGDefaultColor) !important;
}

[class*="appdetailsplaysection_Glassy_"][class*="appdetailsplaysection_PlayBar_"] {
}

[class*="gamelistbar_Container_"],
[class*="libraryhome_Container_"],
[class*="libraryhome_UpdatesContainer_"], 
[class*="libraryhome_LibraryHome_"],
[class*="gamelistsectionheader_Container_"],
[class*="gamelisthome_Bar_"],
[class*="appdetailsoverview_Container_"] [class*="appdetailsoverview_Glassy_"],
[class*="allcollections_ScrollContainer_"],
[class*="collectionview_OuterContainer_"],
[class*="downloads_ItemLists_"],
[class*="downloads_SectionItem_"],
[class*="appgrid_AppGridSectionHeader_"]::after,
.DialogContent,
.DialogContentTransition
{
  background: var(--BGLighterColor) !important;
}

[class*="appdetailscommunityfeed_CommunityItem_"],
[class*="appdetails_ScrollContainer_"],
[class*="library_LibraryWindowDivider_"]
{
  background-color: var(--BGLighterColor) !important;
}

[class*="appdetails_Glassy_"][class*="appdetails_ScrollContainer_"] {
  background-image: var(--BGLighterColor) !important;
}

[class*="sharedappdetailsheader_ImgSrc_"][class*="sharedappdetailsheader_ImgBlurBackdrop_"],
/*[class*="appdetailsoverview_Glassy_"] [class*="appdetailsoverview_BackdropGlass_"],*/
[class*="appactionbutton_PlayButton_"] svg
{
  display: none !important;
}

[class*="appactivityday_LeftSideMajorUpdateBar_"] {
  background: linear-gradient(to right, var(--CustomLighterPurple00) 0%, var(--CustomLighterPurple40) 18px, var(--CustomLighterPurple) 18px, var(--CustomLighterPurple) 22px);
}

[class*="appactivityday_PartnerEventLargeUpdate_"] {
  border-image: none;
}

/* BIGGER HERO IMAGE */

/* .appdetails_Header_2gZXh.appdetails_HeaderLoaded_tXlLv */
[class*="appdetails_Header_"][class*="appdetails_HeaderLoaded_"] {
    min-height: 230px;
    margin-bottom: 0px;
}

/* .sharedappdetailsheader_TopCapsule_2meE3.sharedappdetailsheader_TopCapsule_2meE3 */
[class*="sharedappdetailsheader_TopCapsule_"][class*="sharedappdetailsheader_TopCapsule_"]{
    max-height: 540px !important;
}

/* .sharedappdetailsheader_TopCapsule_2meE3 .sharedappdetailsheader_BoxSizerValidRegion_3IAVE */
[class*="sharedappdetailsheader_TopCapsule_2meE3"] [class*="sharedappdetailsheader_BoxSizerValidRegion_"]{
    max-height: 75%;
    // transform: translate(0, 45%);
}

/* .sharedappdetailsheader_BottomLeft_TJInl .sharedappdetailsheader_TitleLogo_38wKH */
[class*="sharedappdetailsheader_BottomLeft_"] [class*="sharedappdetailsheader_TitleLogo_"] {
    top: initial;
    bottom: -130px;
    left: -10px;
    object-position: bottom;
}

/* .sharedappdetailsheader_BottomCenter_7Muka .sharedappdetailsheader_TitleLogo_38wKH */
[class*="sharedappdetailsheader_BottomCenter_"] [class*="sharedappdetailsheader_TitleLogo_"] {
    margin-top: auto;
    left: initial;
    top: initial;
    right: initial;
    bottom: -120px;
    object-position: bottom;
}

/* .sharedappdetailsheader_CenterCenter_1n52Y .sharedappdetailsheader_TitleImageContainer_3H5_m */
[class*="sharedappdetailsheader_CenterCenter_"] [class*="sharedappdetailsheader_TitleImageContainer_"] {
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}

/* .sharedappdetailsheader_HeaderBackgroundImage_1sarA  */
[class*="sharedappdetailsheader_HeaderBackgroundImage_"] {
    flex: 1;
    max-height: 320px;
    position: absolute;
    -moz-transform: scale(1);
}

/* .sharedappdetailsheader_ImgContainer_3VFZB */
[class*="sharedappdetailsheader_ImgContainer_"] {
    width: 100%;
    //height: 120%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

[class*="HighPerfMode"] [class*="sharedappdetailsheader_HeaderBackgroundImage_"] {
    transform: translateZ(0px) scale(1) !important;
}

/* BETTER GAMES IN LIBRARY & SEARCH BAR AT THE BOTTOM */

/* Zoom out both the gamelist container and the hover text for long game names */
/*.gamelist_Container_1ijTa, .gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy */
[class*="gamelist_Container_"] {
  position: relative;
  zoom: .95;
  order: 2;
}

[class*="gamelistentry_Container_"] [class*="gamelistentry_HoverOverlay_"] {
  position: relative;
  zoom: .95;
  order: 2;
}

[class*="gamelistbar_Container_"] {
  grid-template-rows: 38px auto fit-content(20%) !important;
} 

[class*="gamelist_Container_"] {
  order: 2
}

[class*="gamelistsearchbar_Container_"] {
  grid-row: 3;
}

[class*="gamelist_NoSearchResultsContainer_"] {
  order: 3;
  margin: 835px 0px 0px;
}

[class*="gamelistentry_Container_"] [class*="gamelistentry_GameListEntryContainer_"] {
  padding: 2px 4px 1px;
  margin-top: -1px;
}

[class*="gamelistbar_GameListHomeAndSearch_"] {
  width: 99px;
  align-self: flex-end;
}

[class*="gamelistbar_GameListHomeAndSearch_"] {
  height: 32px !important;
  width: 92px;
  align-self: flex-end;
  order: 0;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] [class*="gamelistsearchbar_AdvancedSearchPaneContainer_"] [class*="gamelistsearchbar_AdvancedSearchPane_"] {
  top: -435px;
}

/* Gamelist entry - font size */

--HoverOverlayPosition: 0;  /* Default: 0. Set 0 if default JS, unset if tweaked JS */
--CategoryNameHeaderSize: 13px;  /* Default: 13px.  */
--GameListZoomSize: 75%;  /* Default: 100%. 75% highly recommended for Game List similar to old Library UI. Affects GameListEntrySize and CategoryNameHeaderSize */
--ShowLeftSidebar: flex;  /* Default: flex. Set to none to hide left sidebar */

.gamelistentry_Container_2-O4Z {
  font-size: 12px !important;
}

.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
  height: 100%;
}

/* Fix hover text to the bottom. With JavaScript tweaks this can be dynamic.*/

.gamelistentry_FriendStatusHover_2iiN7 {
  bottom: var(--HoverOverlayPosition) !important;
}

/* remove border */
.gamelistsectionheader_Container_2sYIg {
  border: 0px solid rgba(0, 0, 0, 0);
}

/* category name - repositioning */
.gamelistsectionheader_SectionHeaderContent_3cV3O {
  margin-top: 3px;
  padding: 0px 9px 5px 0px;
}

/* category count - font size and height*/
.gamelistsectionheader_SectionCount_29ute {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

/* Fix hover text to the bottom if default JS, position dynamically if JS tweaked. */
.gamelistentry_Container_2-O4Z.gamelistentry_HoverOverlay_3cMVy {
  zoom: .95;
}

.library_LeftListSizableContainer_9sPoV {
  display: var(--ShowLeftSidebar);
}

/*Home button text centred*/
.gamelisthome_Label_3O48L {
  margin: auto;
}

/******* SEARCH / FILTER *******/

/* Container grid setup */
.gamelistbar_Container_3x1Hk {
    display: grid !important;
    grid-template-rows: 38px fit-content(20%) auto;
    grid-template-columns: minmax(94px, 112px) auto;
}

/*Home bar width: 1st column, align with Gamelist dropdown and buttons*/
.gamelistbar_GameListHomeAndSearch_2TKEa {
    background-color: unset !important;
    padding: 6px 3px 0px 6px !important;
    grid-column-start: 1;
    width: 70px !important;
}

/* Gamelist dropdown and buttons width: 2nd column, align with home bar*/
.gamelistdropdown_Bar_1ZS_x {
    padding: 6px 3px 0px !important;
    grid-column-start: 2;
    left: -35px !important;
}

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_ViewFiltersBar_36r2a {
    margin: 4px -30px 4px 4px !important;
}

/* Games dropdown width increased */
.gamelistdropdown_DropDown_EDl_m {
    width: 195px !important;
}

/* Other divs to max width (2 columns) */
.gamelist_Container_1ijTa, .gamelistsearchbar_Container_20QAC, .gamelist_NoSearchResultsContainer_1fbRp {
    grid-column-start: 1;
    grid-column-end: span 2;
}

/* Round only outsie corners of Advanced Search filters button */
.gamelistsearchbar_Container_20QAC .gamelistsearchbar_AdvancedSearchContainer_vCCmY {
    border-radius: 0px 4px 4px 0px;
}

/* ========================================================================== 
    END Sidebar - Home and Search */
/* Home Icon 
Adapted from LIGHT-UI by Angelo*/
.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx {
    background-color: var(--lightgrey) !important;
}

.gamelisthome_Bar_3pSPl:hover .gamelisthome_Label_3O48L {													 
	visibility: initial !important;
    color: rgba(0,0,0,0) !important;
    background-image: url("Images/home_hv.png") !important;
}

.gamelisthome_Bar_3pSPl.gamelisthome_Selected_eNLOx .gamelisthome_Label_3O48L {
	visibility: initial !important;
    background-image: url("Images/home_hl.png") !important;
}

.gamelisthome_Bar_3pSPl .gamelisthome_Label_3O48L {
	visibility: initial !important;
    transition: filter 0.3s ease-in-out;
    color: rgba(0,0,0,0) !important;
    background-image: url("Images/home.png") !important;
    background-size: 20px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.gamelisthome_Label_3O48L {
    align-self: unset;
    margin: 0 auto;
    line-height: 30px;
}

.gamelistdropdown_Bar_1ZS_x .gamelistdropdown_Filters_1PgAo .gamelistdropdown_CheckboxWithImage_3mzKd.gamelistdropdown_Active_1QFFk svg {
    fill: var(--libraryhome) !important;
}

[class*="gamelisthome_Selected_"] [class*="gamelisthome_Label_"]::before {
  visibility: hidden !important;
}

[class*="gamelisthome_Label_"]::before {
  visibility: hidden !important;
}

/* BOTTOM BAR TO TOP */

[class*="bottombar_BottomBar_"] {
  width: -webkit-fill-available !important;
  padding: 0px !important;
  position: fixed !important;
  top: 0 !important;
  z-index: 999;
  -webkit-app-region: no-drag !important;
}

[class*="bottombar_AddGameButton_"] {
  display: none;
}

[class*="bottombar_Text_"] /*, [class*="bottombar_Queue_"]*/ {
  display: none;
}

[class*="bottombar_FriendsButton_"] , [class*="bottombar_DownloadStatusContent_"] [class*="bottombar_Icon_"] {
  padding: 0px;
  margin-top: 5px;
  transform: scale(1.5);
}

[class*="bottombar_DownloadStatusContent_"] {
  padding: 0px;
}

[class*="bottombar_DownloadStatusContent_"] [class*="bottombar_Queue_"] {
  font-size: 16px;
  margin-top: 8px;
}

[class*="libraryhome_UpdatesContainer_"] , [class*="libraryhome_LibraryHome_"] {
  max-width: 1610px;
}

[class*="libraryhome_InnerContainer_"] > div:nth-child(1) {
  order: 2;
}

[class*="libraryhome_InnerContainer_"] {
  display: grid;
}

[class*="bottombar_DetailedDownloadProgress_"] {
  max-width: 250px !important;
}

/* old root menu button */
.rootmenu_SteamButton_bSKGl {
  content: none !important;
  display: none !important;
}

/* root menu button image */
[class*="rootmenu_RootMenuButton_"]:nth-of-type(1) {
  background-repeat: no-repeat !important;
  background-image: url("Images/Steam.svg"); /* #8b929a */
  background-size: 32px !important;
  margin: 0px -7px 4px 0px;
  transition: .20s ease-in-out;
}

[class*="rootmenu_RootMenuButton_"]:nth-of-type(1):hover {
  background-image: url("Images/Steam_hv.svg"); /* #ffffff */
  transition: .20s ease-in-out;
}

/* Root menu button */
[class*="rootmenu_RootMenuButton_"]:nth-of-type(1)::after {
  content: "" !important;
  margin-left: 30px !important;
  font-size: 13px !important;
} */

[class*="rootmenu_RootMenuBar_"] {
  padding-left: 3px;
}
